fastapi>=0.100.0
uvicorn>=0.22.0
pydantic>=2.0
pydantic-settings>=2.0.0
langgraph>=0.0.10
langchain-groq>=0.1.0
groq>=0.5.0
python-dotenv>=1.0.0
httpx>=0.24.0
faiss-cpu>=1.7.4
pypdf>=3.9.0
sentence-transformers>=2.2.2
langchain-huggingface
redis>=5.0.0
